<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>GitInput</servlet-name>
        <jsp-file>/gitinput.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>GitInput</servlet-name>
        <url-pattern>/gitinput</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gitinputservlet</servlet-name>
        <servlet-class>GitInputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gitinputservlet</servlet-name>
        <url-pattern>/gitinputservlet</url-pattern>
    </servlet-mapping>
</web-app>